[Unit]
Description=A Spring Boot application
After=syslog.target

[Service]
User=spring
ExecStart=/bin/java -jar  /media/spring/service-0.0.1-SNAPSHOT.jar

[Install]
WantedBy=multi-user.target